html,body {
	height: 100%;
}
body {
	background-image: url("../../image/bg2.jpg"); 
	background-size: 100% 100%;

}

.wrapper{
	position: relative;
	min-height: 100%;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
}
.main-container {
	padding-bottom: 100px;
}
.main-container2 {
	padding-bottom: 200px;
	margin-top:40px;
}
.content{
	margin-top: 20px;
}
.mybtn{
	width: 50%;
	height: 100px;
	background-color :white;
	color :black;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	border:1px solid black;
}
.mybtn span {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.dropdownlist {
	padding: 10px;
	background-color: transparent;
	border-radius : 4px;
	width: 100%;
}
#cke_1_contents {
	height: 400px !important;
}
.btn-add-new {
	background-color: transparent;
	color : #337ab7;
	padding: 20px;
	border: 1px solid #337ab7;
	border-radius : 4px;
	box-shadow: 2px 2px 5px #888888;
}
.btn-add-new:hover {
	background-color:#337ab7;
	color : white;
	box-shadow: 5px 5px 5px #888888;
}
