hr {
	border-top: 1px solid #c3c5cc;
}
body {
	background-color: #f0f8ff;
}
.m-title {
	color: #3a5795;
	font-weight: bold;
	display: inline-block;
	background-color: white;
	padding: 10px;
	margin-top: 25px;
	border-radius :10px;
}
.parent {
	position: relative;
}
.overflow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0,0.2);
	z-index: 4;
}
#center-name {
	position: absolute;
	z-index: 5;
	top:5px;
	left: 30px;
}
#group-button {
	position: absolute;
	z-index: 5;
	top : 50%;
	left: 31%;
}
#carousel-example-generic .carousel-control {
	opacity : 0;
}
#carousel-example-generic img{
	width: 100%;
	height: 650px;
}
#myCarousel-post img{
	width: 100%;
	height: 300px;
}
#myCarousel-post img:hover{
	border:1px solid #ddd;
}
#myCarousel-teacher img {
	width: 75%;
	height: 200px;
	border-radius: 100px;
}
#myCarousel-teacher .col-lg-3{
	text-align: center;
	position: relative;
}
#myCarousel-teacher .col-lg-3:hover .teacher-info{
	top:0;
}
.teacher-info{
	width: 70%;
	height: 200px;
	position: absolute;
	background-color:#333333;
	left: 15%;
	top: -200px;
	z-index: 100;
	transition : top 0.5s;
	-moz-transition : top 0.5s;
	-webkit-transition : top 0.5s;

}
.teacher-info {
	color : #ffffff;
	
}
.teacher-info:hover {
	top:0;
}
.m-btn{
	width: 200px;
	height: 80px;
	position : relative;
	border-width:0px;
	color : #3a5795;
	background-color: white ;
	padding: 20px;
	margin: 20px;
	border : 1px solid #3a5795;
}
.text-btn {
	font-weight:bold;
	font-size: 20px;
	z-index: 3;
	position: absolute;
	left: 0;
	right: 0;
	top: 25%;
}
.div-btn {
	position: absolute;
	width: 0;
	height: 100%;
	background-color: #3a5795;
	border: 1px solid white;
	top : 0px;
	left: 0px;
	z-index: 2;
}
.m-btn:hover {
	color: white;
	border: none;
	transition : color 0.75s;
	-moz-transition : color 0.75s;
	-webkit-transition : color 0.75s;
}
.m-btn:hover .div-btn {
	width: 100%;
	transition : width 0.75s;
	-moz-transition : width 0.75s;
	-webkit-transition : width 0.75s;
}
.m-circle{
	border: 1px solid #333333;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-color: #333333;
	margin: auto;
	text-align: center;
	display: table;
	transform: scale(0.95);
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
}
.m-circle:hover {
	transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transition : transform 0.3s;
	-moz-transition : transform 0.3s;
	-webkit-transition : transform 0.3s;
}
.m-circle a {
	vertical-align: middle;
	display: table-cell;
	color : #F1ECFB;
	text-decoration: none;
	font-weight: bold;
}
.m-rectangle{
	width: 200px;
	height: 200px;
	background-color: white;
	margin: auto;
	margin-top: 10px;
}

.m-div{
	border:1px solid #c3c5cc;
	height: 480px;
	background-color: #333333;
	color: white;
}
.parallax-bg{
	background-image: url("../../image/phusi3.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transition: all 0.2 ease;
	-moz-transition: all 0.2 ease;
	-webkit-transition: all 0.2 ease;
	height: 470px;
	padding: 30px;
	margin-left: -10px;
	margin-right: -10px;
}

.my-banner {
	position: fixed;
	height: 500px;
	background-color: green;
	padding: 0px;
	top: 15%;
	z-index: 10;
}
.my-banner-left {
	left: -19%;
}
.my-banner-left:hover {
	left: 0px;
	transition: left 0.75s;
	-moz-transition: left 0.75s;
	-webkit-transition: left 0.75s;
}
.my-banner-right {
	right: -19%;
}
.my-banner-right:hover {
	right: 0px;
	transition: right 0.75s;
	-moz-transition: right 0.75s;
	-webkit-transition: right 0.75s;
}
.my-container > .row {
	padding-left: 40px;
	padding-right: 40px;
}